<header class="header">
  <div class="header-left">
    <h2>GeoTNB - Commune d'Oujda</h2>
  </div>
  
  <div class="header-right" *ngIf="currentUser">
    <div class="user-menu" (click)="toggleUserMenu()">
      <div class="user-info">
        <span class="username">{{ currentUser.username }}</span>
        <span class="user-role">{{ currentUser.profil }}</span>
      </div>
      <i class="fas fa-chevron-down"></i>
      
      <div class="user-dropdown" [class.show]="showUserMenu">
        <a (click)="logout()" class="dropdown-item logout">
          <i class="fas fa-sign-out-alt"></i>
          Déconnexion
        </a>
      </div>
    </div>
  </div>
</header>